.mission {
    margin-top: 40px;
    margin-bottom: 180px;
    position: relative;
    &__content {
        width: 777px;
    }
    &__content-title {
        font-weight: 600;
        font-size: 64px;
        line-height: 72px;
        margin-bottom: 16px;
    }
    &::after {
        content: '';
        position: absolute;
        background-image: url(../images/rocket.webp);
        right: 20%; //400px
        bottom: -220px;
        width: 246px;
        height: 450px;
    }
}
.command {
    margin-bottom: 120px;

    &__content-title {
        width: 602px;
        font-weight: 600;
        font-size: 48px;
        line-height: 56px;
        color: $black;
    }
    // вероятно на большом экране дизайнер не сменил цвет
    // & .coaches__list-desc {
    //     color: #333;
    // }
}
@media (max-width: 412px) {
    .mission {
        margin-bottom: 80px;
        margin-top: 24px;
    }
    .mission__content {
        width: inherit;
    }
    .mission__content-title {
        font-size: 28px;
        line-height: 32px;
    }
    .mission__content-text {
        font-size: 16px;
        line-height: 20px;
        width: 70%;
    }
    .mission::after {
        right: 10px;
        height: 267px;
        width: 140px;
        bottom: auto;
        top: 0;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .command__content-title {
        font-size: 28px;
        line-height: 32px;
        width: auto;
    }
    .command {
        margin-bottom: 48px;
    }
}
