.conclusion {
    margin-bottom: 120px;
    &__inference {
        width: 100%;
        background-color: $orange;
        padding: 40px 32px;
        margin-bottom: 32px;
        border-radius: 32px 32px 32px 0;
    }
    &__inference-text {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: #fff;
    }
    &__share {
        margin-bottom: 56px;
    }
    &__share-title {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: $black;
        margin-bottom: 24px;
    }
    &__share-list {
        display: flex;
        flex-direction: row;
        gap: 8px;
    }
    &__share-img {
        width: 40px;
        height: 40px;
    }
    &__like {
        margin-bottom: 72px;
    }
    &__like-title {
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        color: $black;
        margin-bottom: 16px;
    }
    &__like-text {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: $black;
        margin-bottom: 24px;
    }
    &__like-rate {
        display: flex;
        flex-direction: row;
    }
    // &__like-stars {
    //     display: flex;
    //     flex-direction: row;
    // }
    &__like-digits,
    &__like-votes {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: $black;
    }
    &__like-votes {
        color: $dark-grey;
    }
    //stars
    &__like-stars {
        width: 143px;
        height: 32px;
        margin-right: 32px;
    }
    &__star-box {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2px;
        cursor: pointer;
    }
    &__star-box i {
        font-size: 24px;
        color: $black;
    }
    &__star-box .checked {
        color: $orange;
    }
    &__recomendation {
        margin-bottom: 56px;
    }
    &__recomendation-text {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: $black;
        margin-bottom: 48px;
    }

    &__recomendation-list {
        height: 416px;
        overflow-x: hidden;
        overflow-y: auto;
        direction: rtl;

        & > * {
            direction: ltr;
        }
        &::-webkit-scrollbar {
            width: 4px;
        }
        &::-webkit-scrollbar-track {
            background-color: #d9d9d9;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $orange;
        }
        scrollbar-color: $orange #d9d9d9;
        scrollbar-width: thin;
        overscroll-behavior: contain;
    }
    &__recomendation-item {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 32px;
        margin-bottom: 16px;
        padding-left: 16px;
    }
    &__recomendation-img {
        border-radius: 32px 32px 32px 0;
    }
    &__recomendation-time {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: $dark-grey;
        margin-bottom: 8px;
    }
    &__recomendation-title {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: $black;
        display: block;
    }
    &__widget {
        width: 100%;
        height: 432px;
        background-color: $grey;
        border-radius: 32px 32px 32px 0;
        position: relative;
    }
    &__widget-text {
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.simplebar-track.simplebar-vertical {
    background-color: #d9d9d9;
    width: 4px;
}
.simplebar-scrollbar::before {
    background-color: $orange;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    border-radius: 0;
}
.simplebar-scrollbar.simplebar-visible:before {
    opacity: 1;
    width: 6px;
    border-radius: 0;
}

@media (max-width: 412px) {
    .conclusion {
        margin-bottom: 40px;
    }
    .conclusion__inference {
        margin-top: 8px;
        margin-bottom: 24px;
        border-radius: 16px 16px 16px 0;
        padding: 16px;
    }
    .conclusion__inference-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }
    .conclusion__share {
        margin-bottom: 40px;
    }
    .conclusion__share-title {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 16px;
    }
    .conclusion__like {
        margin-bottom: 40px;
    }
    .conclusion__like-title {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 4px;
    }
    .conclusion__like-text {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 8px;
    }
    .conclusion__like-rate {
        align-items: center;
    }
    .conclusion__like-stars {
        width: 124px;
        height: 24px;
    }
    .conclusion__like-digits,
    .conclusion__like-votes {
        font-size: 16px;
        line-height: 20px;
    }
    .conclusion__recomendation-text {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .conclusion__recomendation-item {
        gap: 12px;
        align-items: center;
    }
    .conclusion__recomendation-img {
        border-radius: 16px 16px 16px 0;
        width: 134px;
        height: 80px;
    }
    .conclusion__recomendation-time {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
    }
    .conclusion__recomendation-title {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
    }
}
