.conclusion {
    margin-top: 56px;
    &__inference {
        width: 100%;
        background-color: $orange;
        padding: 40px 32px;
        margin-bottom: 32px;
        border-radius: 32px 32px 32px 0;
    }
    &__inference-text {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: #fff;
    }
    &__share {
        margin-bottom: 56px;
    }
    &__share-title {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: $black;
        margin-bottom: 24px;
    }
    &__share-list {
        display: flex;
        flex-direction: row;
        gap: 8px;
    }
    &__share-img {
        width: 40px;
        height: 40px;
    }
    &__like {
        margin-bottom: 72px;
    }
    &__like-title {
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        color: $black;
        margin-bottom: 16px;
    }
    &__like-text {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: $black;
        margin-bottom: 24px;
    }
    &__like-rate {
        display: flex;
        flex-direction: row;
    }
    // &__like-stars {
    //     display: flex;
    //     flex-direction: row;
    // }
    &__like-digits,
    &__like-votes {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: $black;
    }
    &__like-votes {
        color: $dark-grey;
    }
    //stars
    &__like-stars {
        width: 143px;
        height: 32px;
        margin-right: 32px;
    }
    &__star-box {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2px;
        cursor: pointer;
    }
    &__star-box i {
        font-size: 24px;
        color: $black;
    }
    &__star-box .checked {
        color: $orange;
    }
}
