.hello {
    background-image: url(../images/background_hello.jpg);
    object-fit: cover;
    background-repeat: no-repeat;

    height: 560px;
    &__wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        &::after {
            display: none;
        }
    }
    &__info {
        max-width: 600px;
        margin-left: 65px;
    }
    &__info-title {
        color: #fff;
        font-weight: 600;
        font-size: 80px;
        line-height: 72px;
        margin-bottom: 10px;
    }
    &__info-text {
        color: #fff;
    }
}
@media (max-width: 412px) {
    .hello {
        height: 332px;
        background-position: center top;
    }
    .hello__wrapper {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            display: block;
            background-image: url(../images/astronaut.png);
            background-repeat: no-repeat;
            background-size: contain;
            height: 234px;
            width: 150px;
            right: -6%;
            transform: scaleX(-1);
        }
    }

    .hello__cosmonaut {
        display: none;
    }
    .hello__info {
        max-width: 240px;
        margin: 0;
    }
    .hello__info-title {
        margin-bottom: 8px;
        font-size: 28px;
        line-height: 32px;
    }
    .hello__info-text {
        font-size: 16px;
        line-height: 20px;
    }
}
