.main-content {
    &__wrapper {
        max-width: 928px;
    }
    &__title {
        font-weight: 600;
        font-size: 48px;
        line-height: 56px;
        color: $black;
        margin-bottom: 24px;
        margin-top: 56px;
    }
    &__text {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: $black;
        // margin-bottom: 56px;
        & span {
            font-weight: 600;
        }
    }
    &__min-title {
        margin-top: 40px;
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        color: $black;
    }
    &__title-min {
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: $black;
        margin-bottom: 24px;
        margin-top: 56px;
    }
    &__grey-bg {
        border-radius: 32px 32px 32px 0;
        width: 100%;
        height: 432px;
        background-color: $grey;
    }
    &__light-grey-bg {
        margin-top: 40px;
        border-radius: 32px 32px 32px 0;
        width: 100%;
        height: 432px;
        background-color: $light-grey;
        position: relative;
    }
    &__example {
        margin-top: 40px;
        margin-bottom: 24px;
    }
    &__example-caption {
        margin-top: 16px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $black;
    }
    &__example-link {
        color: $orange;
        text-decoration: underline;
    }
    &__reference {
        background-color: #ac93ef;
        border-radius: 32px 32px 32px 0;
        width: 100%;
        padding: 40px 32px;
        margin: 40px 0;
    }
    &__reference-text {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: #fff;
    }
    &__video-bg {
        // background-image: url(../images/sun-include.jpg);
        background-repeat: no-repeat;
        object-fit: cover;
        background-position: center;
        border-radius: 32px 32px 32px 0;
        width: 100%;
        height: 432px;
        position: relative;
    }
    &__video-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: 0 auto;
        transform: translate(-50%, -50%);
        padding: 18px;
        background-color: $orange;
    }
    &__definition {
        margin-top: 56px;
    }
    &__definition-text {
        padding-left: 48px;
        position: relative;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: $black;
        &::before {
            content: '';
            background-color: $orange;
            position: absolute;
            padding: 2px 16px;
            left: 0;
            top: 14px;
        }
    }
    &__class-list {
        margin-top: 16px;
    }
    &__buttons-list {
        margin-top: 32px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        &--geography {
            grid-template-rows: repeat(2, 1fr);
        }
    }
    &__buttons-item {
        text-align: center;
        padding: 12px 0;
        background-color: $grey;
        border-radius: 16px 16px 16px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__buttons-link {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $black;
    }
    &__gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 32px;
        &--2 {
            margin-top: 40px;
            grid-template-rows: repeat(1, 1fr);
        }
    }
    &__gallery-link {
        border-radius: 32px 32px 32px 0;
    }
    &__gallery-img {
        border-radius: 32px 32px 32px 0;
        width: 100%;
        height: 100%;
    }
    &__gallery-caption {
        margin-top: 30px;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        color: $black;
    }
    &__planet-zoom {
        position: relative;
        margin-top: 56px;
        & > p {
            margin-bottom: 40px;
        }
    }
    &__planet-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__planet-btns {
        position: absolute;
        top: 40px;
        right: 40px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    &__planet-btn {
        background-color: #fff;
        padding: 4px 12px;
        cursor: pointer;
    }
    &__more {
        margin: 24px 0 40px 0;
        padding-left: 48px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            background-image: url(../images/src/icons/arrow-orange-right.svg);
            width: 32px;
            height: 5px;
            left: 0;
            top: 50%;
        }
    }
    &__more-link {
        font-style: italic;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-decoration: underline;
        color: $orange;
    }
    &__cards {
        margin: 40px 0 40px 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 32px 40px;
    }
    &__card {
        & > .main-content__grey-bg {
            height: 312px;
            margin-bottom: 16px;
        }
    }
    &__card-text {
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        color: $black;
    }
    &__swiper {
        height: 320px;
        position: relative;
        margin-top: 40px;
        margin-bottom: 24px;

        & > .swiper-button-next::after,
        & > .swiper-button-prev::after {
            font-size: 20px;
            background-color: $light-grey;
            padding: 15px;
        }
        // & > .swiper-button-next::after,
        & > .swiper-button-next {
            &.swiper-button-disabled {
                opacity: 0.5;
            }
            position: absolute;
            bottom: 0;
            right: 8px;
            top: auto;
            color: $black;
        }
        // & > .swiper-button-prev::after,
        & > .swiper-button-prev {
            &.swiper-button-disabled {
                opacity: 0.5;
            }

            bottom: 0;
            right: 56px;
            top: auto;
            left: auto;
            color: $black;
        }
    }
    &__swiper-slide {
        width: 202px !important;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__line {
        display: block;
        background-color: $orange;
        width: 100%;
        height: 2px;
        margin-top: 64px;
    }
    &__article-description {
        & > p {
            margin-top: 16px;
        }
    }
    &__themes {
        margin-top: 32px;
        margin-bottom: 56px;
    }
    &__theme {
        padding: 8px 0;
        border-top: 2px solid $grey;
    }
    &__theme,
    &__theme-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    &__theme-wrapper {
        gap: 24px;
    }
    &__theme-img {
        width: 117px;
        height: 72px;
        border-radius: 16px 16px 16px 0;
    }
    &__theme-text {
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: $black;
    }
}
.slider__bg {
    border-radius: 32px 32px 32px 0;
    width: 100%;
    height: 202px;
    background-color: $grey;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.05);
    position: relative;
}
.slider__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.tabel-list {
    padding: 24px 32px;
    margin-bottom: 56px;
    margin-top: 56px;
    width: 100%;
    background-color: $light-grey;
    border-radius: 32px 32px 32px 0;
    &--orange > p {
        border-bottom: 1px solid $orange;
    }
    &__title {
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: $black;
        padding-bottom: 8px;
        margin-bottom: 16px;
        border-bottom: 1px solid #ac93ef;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;

        padding-right: 98px;
    }
    &__item {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
    }
}
.main-video {
    background-color: $black;
    text-align: center;
    min-height: 984px;
    &__text {
        // margin-top: 64px;
        margin: 64px auto 0 auto;
        max-width: 928px;
        color: #fff;
        text-align: center;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
    }
}
@media (max-width: 412px) {
    .main-content__title {
        margin-top: 40px;
        margin-bottom: 8px;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
    }
    .main-content__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }
    .tabel-list {
        margin-top: 24px;
        margin-bottom: 0;
        padding: 16px;
        border-radius: 16px 16px 16px 0;
    }
    .tabel-list__title {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 12px;
    }
    .tabel-list__wrapper {
        flex-wrap: wrap;
        justify-content: start;
        column-gap: 83px;
        padding: 0;
    }
    .tabel-list__list {
        width: 100px;
    }
    .main-content__title-min {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        margin-top: 24px;
        margin-bottom: 8px;
    }
    .main-content__grey-bg {
        height: 180px;
        border-radius: 16px 16px 16px 0;
        background-size: cover;
    }
    .main-content__example {
        margin-top: 24px;
        margin-bottom: 8px;
    }
    .main-content__example-caption {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        margin-top: 8px;
    }
    .main-content__reference {
        margin-top: 24px;
        margin-bottom: 24px;
        padding: 16px;
        border-radius: 16px 16px 16px 0;
    }
    .main-content__reference-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
    }
    .main-content__video-bg {
        border-radius: 16px 16px 16px 0;
        background-size: cover;
        height: 180px;
    }
    .main-content__definition {
        margin-top: 20px;
    }
    .main-content__definition-text {
        padding-left: 32px;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        &::before {
            padding: 1px 12px;
            top: 10px;
        }
    }
    .main-content__min-title {
        margin-top: 24px;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
    }
    .main-content__buttons-list {
        margin-top: 28px;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 12px;
        grid-template-rows: auto;
    }
    .tabel-list__wrapper {
        // flex-wrap: wrap-reverse;
    }
    .tabel-list__list:nth-child(1) {
        order: 0;
    }
    .tabel-list__list:nth-child(2) {
        order: 3;
    }
    .tabel-list__list:nth-child(3) {
        order: 2;
    }
    .tabel-list__list:nth-child(4) {
        order: 4;
    }
    .main-content__gallery {
        margin-top: 24px;
        grid-template-columns: repeat(1, 1fr);
        gap: 8px;
    }
    .main-content__gallery-link {
        border-radius: 16px 16px 16px 0;
        height: 180px;
    }
    .main-content__gallery-caption {
        margin-top: 8px;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
    }
    .main-content__planet-zoom {
        margin-top: 24px;
    }
    .main-content__light-grey-bg {
        margin-top: 24px;
        height: 370px;
    }
    .main-content__planet-img {
        width: 70%;
    }
}
