<div class="author">
    <div class="container">
        <div class="author__wrapper">
            <img src="/images/author.jpg" alt="author" class="author__img" />
            <div class="author__content">
                <a href="#" class="author__link">Светлана Куликовская</a>
                <p class="author__text">Автор статьи</p>
            </div>
        </div>
    </div>
</div>
<div class="article-image">
    <div class="container">
        <img
            src="/images/article-bg.jpg"
            alt="article-bg"
            class="article-image__img"
        />
    </div>
</div>
<div class="article-date-time">
    <div class="container">
        <span class="article-date-time__date"> 16 апреля 2024 </span>
        <span class="article-date-time__time"
            ><img
                src="/images/src/icons/timer.svg"
                class="article-date-time__icon"
            />Читать 5 мин</span
        >
    </div>
</div>
<div class="article-items">
    <div class="container">
        <div class="article-items__dropdown">
            <button onclick="myFunction()" class="article-items__dropbtn">
                Оглавление
            </button>
            <div id="myDropdown" class="article-items__dropdown-content">
                <a href="#">Пункт первый</a>
                <a href="#">Пункт второй</a>
                <a href="#">Пункт третий</a>
                <a href="#">Пункт четвертый</a>
                <a href="#">Пункт пятый</a>
            </div>
        </div>
    </div>
</div>
