<div class="conclusion">
    <div class="container">
        <div class="main-content__wrapper">
            <h2 class="main-content__title">Заключение</h2>
            <div class="conclusion__inference">
                <p class="conclusion__inference-text">
                    Из этой статьи мы узнали amet et delectus accommodare his
                    consul copiosae legendos at vix ad putent delectus delicata
                    usu. Vidit dissentiet eos cu eum an brute copiosae
                    hendrerit. Eos erant dolorum an. Per facer affert ut. Mei
                    iisque mentitum moderatius cu. Sit munere facilis accusam eu
                    dicat falli consulatu at vis.
                </p>
            </div>
            <div class="conclusion__share">
                <p class="conclusion__share-title">
                    Поделитесь это страницей с друзьями:
                </p>
                <ul class="conclusion__share-list">
                    <li class="conclusion__share-item">
                        <a href="#" class="conclusion__share-link"
                            ><img
                                src="images/src/icons/social/vk.svg"
                                alt=""
                                class="conclusion__share-img"
                        /></a>
                    </li>
                    <li class="conclusion__share-item">
                        <a href="#" class="conclusion__share-link"
                            ><img
                                src="images/src/icons/social/vk.svg"
                                alt=""
                                class="conclusion__share-img"
                        /></a>
                    </li>
                    <li class="conclusion__share-item">
                        <a href="#" class="conclusion__share-link"
                            ><img
                                src="images/src/icons/social/vk.svg"
                                alt=""
                                class="conclusion__share-img"
                        /></a>
                    </li>
                    <li class="conclusion__share-item">
                        <a href="#" class="conclusion__share-link"
                            ><img
                                src="images/src/icons/social/vk.svg"
                                alt=""
                                class="conclusion__share-img"
                        /></a>
                    </li>
                    <li class="conclusion__share-item">
                        <a href="#" class="conclusion__share-link"
                            ><img
                                src="images/src/icons/social/vk.svg"
                                alt=""
                                class="conclusion__share-img"
                        /></a>
                    </li>
                    <li class="conclusion__share-item">
                        <a href="#" class="conclusion__share-link"
                            ><img
                                src="images/src/icons/social/vk.svg"
                                alt=""
                                class="conclusion__share-img"
                        /></a>
                    </li>
                </ul>
            </div>
            <div class="conclusion__like">
                <h6 class="conclusion__like-title">
                    Понравилась ли вам наша статья?
                </h6>
                <p class="conclusion__like-text">
                    Поставьте оценку и напишите ваш комментарий.
                </p>
                <div class="conclusion__like-rate">
                    <!-- <ul class="conclusion__like-stars">
                        <li class="conclusion__like-star">
                            <img
                                src=""
                                alt="star"
                                class="conclusion__like-img"
                            />
                        </li>
                        <li class="conclusion__like-star">
                            <img
                                src=""
                                alt="star"
                                class="conclusion__like-img"
                            />
                        </li>
                        <li class="conclusion__like-star">
                            <img
                                src=""
                                alt="star"
                                class="conclusion__like-img"
                            />
                        </li>
                        <li class="conclusion__like-star">
                            <img
                                src=""
                                alt="star"
                                class="conclusion__like-img"
                            />
                        </li>
                        <li class="conclusion__like-star">
                            <img
                                src=""
                                alt="star"
                                class="conclusion__like-img"
                            />
                        </li>
                    </ul> -->
                    <div class="conclusion__like-stars">
                        <div class="conclusion__star-box">
                            <i
                                class="fa-solid fa-star checked"
                                data-rate="1"
                            ></i>
                            <i
                                class="fa-solid fa-star checked"
                                data-rate="2"
                            ></i>
                            <i class="fa-regular fa-star" data-rate="3"></i>
                            <i class="fa-regular fa-star" data-rate="4"></i>
                            <i class="fa-regular fa-star" data-rate="5"></i>
                        </div>
                    </div>
                    <span class="conclusion__like-digits">4.1 / 5</span>
                    <span class="conclusion__like-votes"> (36 голосов)</span>
                </div>
            </div>
            <div class="conclusion__recomendation">
                <h2 class="main-content__title">Рекомендуем посмотреть</h2>
                <p class="conclusion__recomendation-text">
                    Полезные статьи о планете Меркурий:
                </p>
                <div class="conclusion__recomendation-more">
                    <div
                        class="conclusion__recomendation-list"
                        data-simplebar
                        data-simplebar-direction="rtl"
                    >
                        <div class="conclusion__recomendation-item">
                            <img
                                src="images/sun.jpg"
                                alt="prewie"
                                class="conclusion__recomendation-img"
                            />
                            <div class="conclusion__recomendation-info">
                                <span class="conclusion__recomendation-time"
                                    >23 августа &bull; 10 минут</span
                                >
                                <a
                                    href="#"
                                    class="conclusion__recomendation-title"
                                >
                                    На Солнце произошла мощная вспышка для
                                    примера более длинное название материала
                                </a>
                            </div>
                        </div>
                        <div class="conclusion__recomendation-item">
                            <img
                                src="images/sun.jpg"
                                alt="prewie"
                                class="conclusion__recomendation-img"
                            />
                            <div class="conclusion__recomendation-info">
                                <span class="conclusion__recomendation-time"
                                    >23 августа &bull; 10 минут</span
                                >
                                <a
                                    href="#"
                                    class="conclusion__recomendation-title"
                                >
                                    На Солнце произошла мощная вспышка для
                                    примера более длинное название материала
                                </a>
                            </div>
                        </div>
                        <div class="conclusion__recomendation-item">
                            <img
                                src="images/sun.jpg"
                                alt="prewie"
                                class="conclusion__recomendation-img"
                            />
                            <div class="conclusion__recomendation-info">
                                <span class="conclusion__recomendation-time"
                                    >23 августа &bull; 10 минут</span
                                >
                                <a
                                    href="#"
                                    class="conclusion__recomendation-title"
                                >
                                    На Солнце произошла мощная вспышка для
                                    примера более длинное название материала
                                </a>
                            </div>
                        </div>
                        <div class="conclusion__recomendation-item">
                            <img
                                src="images/sun.jpg"
                                alt="prewie"
                                class="conclusion__recomendation-img"
                            />
                            <div class="conclusion__recomendation-info">
                                <span class="conclusion__recomendation-time"
                                    >23 августа &bull; 10 минут</span
                                >
                                <a
                                    href="#"
                                    class="conclusion__recomendation-title"
                                >
                                    На Солнце произошла мощная вспышка для
                                    примера более длинное название материала
                                </a>
                            </div>
                        </div>
                        <div class="conclusion__recomendation-item">
                            <img
                                src="images/sun.jpg"
                                alt="prewie"
                                class="conclusion__recomendation-img"
                            />
                            <div class="conclusion__recomendation-info">
                                <span class="conclusion__recomendation-time"
                                    >23 августа &bull; 10 минут</span
                                >
                                <a
                                    href="#"
                                    class="conclusion__recomendation-title"
                                >
                                    На Солнце произошла мощная вспышка для
                                    примера более длинное название материала
                                </a>
                            </div>
                        </div>
                        <div class="conclusion__recomendation-item">
                            <img
                                src="images/sun.jpg"
                                alt="prewie"
                                class="conclusion__recomendation-img"
                            />
                            <div class="conclusion__recomendation-info">
                                <span class="conclusion__recomendation-time"
                                    >23 августа &bull; 10 минут</span
                                >
                                <a
                                    href="#"
                                    class="conclusion__recomendation-title"
                                >
                                    На Солнце произошла мощная вспышка для
                                    примера более длинное название материала
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="conclusion__widget">
                <span class="conclusion__widget-text"> Виджет ВК </span>
            </div>
        </div>
    </div>
</div>
