<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Red+Rose:wght@300..700&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Red+Rose:wght@300..700&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://unpkg.com/simplebar@latest/dist/simplebar.css"
        />
        <link rel="stylesheet" href="css/style.min.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://kit.fontawesome.com/90e3df6b25.js" crossorigin="anonymous"></script>
        <title>Cosmologik</title>
    </head>
    <body>
        
    <header class="header">
        <div class="container">
            <div class="header__wrapper">
                <div class="header__logo">
                    <h3 class="header__logo-title unselectable">Cosmologik</h3>
                </div>
                <div class="header__burger">
                    <button class="header__burger-btn">
                        <img src="/images/src/icons/burger.svg" alt="menu" />
                    </button>
                </div>
                <div class="header__menu">
                    <div class="header__menu-close">
                        <h6 class="header__menu-title">Ближний космос</h6>
                        <ul class="header__menu-list">
                            <li class="header__menu-item">
                                <a href="#" class="header__menu-link">
                                    Солнечная система
                                </a>
                            </li>
                            <li class="header__menu-item">
                                <a href="#" class="header__menu-link"
                                    >Планеты</a
                                >
                            </li>
                            <li class="header__menu-item">
                                <a href="#" class="header__menu-link"
                                    >Спутники</a
                                >
                            </li>
                            <li class="header__menu-item">
                                <a href="#" class="header__menu-link">Кометы</a>
                            </li>
                            <li class="header__menu-item">
                                <a href="#" class="header__menu-link"
                                    >Метеориты</a
                                >
                            </li>
                            <li class="header__menu-item">
                                <a href="#" class="header__menu-link"
                                    >Астероиды</a
                                >
                            </li>
                        </ul>
                    </div>
                    <div class="header__menu-far">
                        <h6 class="header__menu-title">Далёкий космос</h6>
                        <ul class="header__menu-list">
                            <li class="header__menu-item">
                                <a href="#" class="header__menu-link">Звёзды</a>
                            </li>
                            <li class="header__menu-item">
                                <a href="#" class="header__menu-link"
                                    >Созвездия</a
                                >
                            </li>
                            <li class="header__menu-item">
                                <a href="#" class="header__menu-link"
                                    >Черные дыры</a
                                >
                            </li>
                            <li class="header__menu-item">
                                <a href="#" class="header__menu-link"
                                    >Вселенная</a
                                >
                            </li>
                            <li class="header__menu-item">
                                <a href="#" class="header__menu-link"
                                    >Галактика</a
                                >
                            </li>
                        </ul>
                    </div>
                    <div class="header__menu-social">
                        <h6 class="header__menu-title">Мы в соц.сетях:</h6>
                        <ul class="header__social-list">
                            <li class="header__social-item">
                                <a href="#" class="header__social-link">
                                    <img
                                        src="images/src/icons/social/vk.svg"
                                        alt="social_img"
                                        class="header__social-img"
                                    />
                                </a>
                            </li>
                            <li class="header__social-item">
                                <a href="#" class="header__social-link">
                                    <img
                                        src="images/src/icons/social/telegram.svg"
                                        alt="social_img"
                                        class="header__social-img"
                                    />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
</html>
