<div class="breadcrumbs">
    <div class="container">
        <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">
                <a href="index.html" class="breadcrumbs__item-link">
                    Главная
                </a>
            </li>

            <li class="breadcrumbs__item breadcrumbs__item--active">
                <a href="#" class="breadcrumbs__item-link"> Астероиды </a>
            </li>
        </ul>
    </div>
</div>
<div class="main-head">
    <div class="container">
        <h1 class="main-head__title">
            Астероиды для заголовка первого уровня с дополнительными словами
        </h1>
    </div>
</div>
<!--=include article-start.html -->
