<div class="breadcrumbs">
    <div class="container">
        <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">
                <a href="index.html" class="breadcrumbs__item-link">
                    Главная
                </a>
            </li>

            <li class="breadcrumbs__item breadcrumbs__item--active">
                <a href="#" class="breadcrumbs__item-link"> О нас </a>
            </li>
        </ul>
    </div>
</div>
<section class="mission">
    <div class="container">
        <div class="mission__content">
            <h1 class="mission__content-title">Наша миссия</h1>
            <p class="mission__content-text">
                Мы помогаем интеллектуальному развитию детей, сохраняя атмосферу
                детства.
                <br />
                <br />
                Мы стремимся быть лучшими. Создавать образовательные методики и
                методические материалы, которые интересно изучать.
            </p>
        </div>
    </div>
</section>
<section class="command">
    <div class="container">
        <div class="command__content">
            <h2 class="command__content-title">
                Ключевое премущество Cosmologik - это команда
            </h2>
            <div class="coaches__list">
                <div class="coaches__list-item">
                    <img
                        src="images/src/coach.jpg"
                        alt=""
                        class="coaches__list-image"
                    /><a href="" class="coaches__list-link"
                        >Елена Сокольникова</a
                    ><span class="coaches__list-desc"
                        >Преподаватель по географии</span
                    >
                </div>
                <div class="coaches__list-item">
                    <img
                        src="images/src/coach.jpg"
                        alt=""
                        class="coaches__list-image"
                    /><a href="" class="coaches__list-link">Ольга Жукова</a
                    ><span class="coaches__list-desc"
                        >Преподаватель по Биологии</span
                    >
                </div>
                <div class="coaches__list-item">
                    <img
                        src="images/src/coach.jpg"
                        alt=""
                        class="coaches__list-image"
                    /><a href="" class="coaches__list-link">Валерия Дмитриева</a
                    ><span class="coaches__list-desc"
                        >Учитель начальных классов</span
                    >
                </div>
                <div class="coaches__list-item">
                    <img
                        src="images/src/coach.jpg"
                        alt=""
                        class="coaches__list-image"
                    /><a href="" class="coaches__list-link">Валерия Дмитриева</a
                    ><span class="coaches__list-desc"
                        >Учитель начальных классов</span
                    >
                </div>
            </div>
        </div>
    </div>
</section>
