<main class="main">
    <section class="hello">
        <div class="container">
            <div class="hello__wrapper">
                <div class="hello__cosmonaut">
                    <img
                        src="/images/astronaut.png"
                        alt="cosmonaut"
                        class="hello__image"
                    />
                </div>
                <div class="hello__info">
                    <h1 class="hello__info-title">
                        Привет,<br />
                        я - Космологик
                    </h1>
                    <p class="hello__info-text">
                        Помогу, расскажу и поделимся самыми свежими знаниями
                        школьной программы
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="know"></section>
</main>
