<main class="main">
    <section class="hello">
        <div class="container">
            <div class="hello__wrapper">
                <div class="hello__cosmonaut">
                    <img
                        src="/images/astronaut.png"
                        alt="cosmonaut"
                        class="hello__image"
                    />
                </div>
                <div class="hello__info">
                    <h1 class="hello__info-title">
                        Привет,<br />
                        я - Космологик
                    </h1>
                    <p class="hello__info-text">
                        Помогу, расскажу и поделимся самыми свежими знаниями
                        школьной программы
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="know">
        <div class="container">
            <div class="know__info">
                <h1 class="know__info-title">А знаете ли вы..</h1>
                <p class="know__info-text">
                    Выберите рубрику, чтобы узнать больше
                </p>
            </div>
            <div class="know__cards">
                <div class="know__card">
                    <a href="#" class="know__card-link">
                        <img
                            src="/images/src/cards/galaxy.svg"
                            alt="card_img"
                            class="know__card-image"
                        />
                        <span class="know__card-text">Вселенная</span>
                    </a>
                </div>
                <div class="know__card">
                    <a href="#" class="know__card-link">
                        <img
                            src="/images/src/cards/planets.svg"
                            alt="card_img"
                            class="know__card-image"
                        />
                        <span class="know__card-text">Планеты</span>
                    </a>
                </div>
                <div class="know__card">
                    <a href="#" class="know__card-link">
                        <img
                            src="/images/src/cards/sun.svg"
                            alt="card_img"
                            class="know__card-image"
                        />
                        <span class="know__card-text">Звезды</span>
                    </a>
                </div>
                <div class="know__card">
                    <a href="#" class="know__card-link">
                        <img
                            src="/images/src/cards/space-station.svg"
                            alt="card_img"
                            class="know__card-image"
                        />
                        <span class="know__card-text">Космические cтанции</span>
                    </a>
                </div>
                <div class="know__card">
                    <a href="#" class="know__card-link">
                        <img
                            src="/images/src/cards/solar-system.svg"
                            alt="card_img"
                            class="know__card-image"
                        />
                        <span class="know__card-text">Солнечная система</span>
                    </a>
                </div>
                <div class="know__card">
                    <a href="#" class="know__card-link">
                        <img
                            src="/images/src/cards/asteroid (4).svg"
                            alt="card_img"
                            class="know__card-image"
                        />
                        <span class="know__card-text">Астероиды</span>
                    </a>
                </div>
                <div class="know__card">
                    <a href="#" class="know__card-link">
                        <img
                            src="/images/src/cards/space-station.svg"
                            alt="card_img"
                            class="know__card-image"
                        />
                        <span class="know__card-text">Спутники</span>
                    </a>
                </div>
                <div class="know__card">
                    <a href="#" class="know__card-link">
                        <img
                            src="/images/src/cards/comet.svg"
                            alt="card_img"
                            class="know__card-image"
                        />
                        <span class="know__card-text">Комета</span>
                    </a>
                </div>
                <div class="know__card">
                    <a href="#" class="know__card-link">
                        <img
                            src="/images/src/cards/meteorite.svg"
                            alt="card_img"
                            class="know__card-image"
                        />
                        <span class="know__card-text">Метеориты</span>
                    </a>
                </div>
                <div class="know__card">
                    <a href="#" class="know__card-link">
                        <img
                            src="/images/src/cards/galaxy (1).svg"
                            alt="card_img"
                            class="know__card-image"
                        />
                        <span class="know__card-text">Галактика</span>
                    </a>
                </div>
                <div class="know__card">
                    <a href="#" class="know__card-link">
                        <img
                            src="/images/src/cards/constellation (1).svg"
                            alt="card_img"
                            class="know__card-image"
                        />
                        <span class="know__card-text">Созвездия</span>
                    </a>
                </div>
                <div class="know__card">
                    <a href="#" class="know__card-link">
                        <img
                            src="/images/src/cards/black-hole.svg"
                            alt="card_img"
                            class="know__card-image"
                        />
                        <span class="know__card-text">Черные дыры</span>
                    </a>
                </div>
            </div>
            <p class="know__description">
                Самое интересное и познавательное от космологиков
            </p>
        </div>
    </section>
    <section class="base">
        <div class="container">
            <div class="base__content">
                <h2 class="base__content-title">База знаний с 1 по 11 класс</h2>
                <div class="base__choose">
                    <div class="base__choose-column">
                        <p class="base__choose-subjects">География</p>
                        <ul class="classes">
                            <li class="class">
                                <a href="#" class="class-link">5</a>
                            </li>
                            <li class="class">
                                <a href="#" class="class-link">6</a>
                            </li>
                            <li class="class">
                                <a href="#" class="class-link">7</a>
                            </li>
                            <li class="class">
                                <a href="#" class="class-link">8</a>
                            </li>
                            <li class="class">
                                <a href="#" class="class-link">9</a>
                            </li>
                            <li class="class">
                                <a href="#" class="class-link">10</a>
                            </li>
                            <li class="class">
                                <a href="#" class="class-link">11</a>
                            </li>
                        </ul>
                        <p class="base__choose-subjects">Биология</p>
                        <ul class="classes">
                            <li class="class">
                                <a href="#" class="class-link">5</a>
                            </li>
                            <li class="class">
                                <a href="#" class="class-link">6</a>
                            </li>
                            <li class="class">
                                <a href="#" class="class-link">7</a>
                            </li>
                            <li class="class">
                                <a href="#" class="class-link">8</a>
                            </li>
                            <li class="class">
                                <a href="#" class="class-link">9</a>
                            </li>
                            <li class="class">
                                <a href="#" class="class-link">10</a>
                            </li>
                            <li class="class">
                                <a href="#" class="class-link">11</a>
                            </li>
                        </ul>
                        <p class="base__choose-subjects">Обществознание</p>
                        <ul class="classes">
                            <li class="class">
                                <a href="#" class="class-link">5</a>
                            </li>
                            <li class="class">
                                <a href="#" class="class-link">6</a>
                            </li>
                            <li class="class">
                                <a href="#" class="class-link">7</a>
                            </li>
                            <li class="class">
                                <a href="#" class="class-link">8</a>
                            </li>
                            <li class="class">
                                <a href="#" class="class-link">9</a>
                            </li>
                            <li class="class">
                                <a href="#" class="class-link">10</a>
                            </li>
                            <li class="class">
                                <a href="#" class="class-link">11</a>
                            </li>
                        </ul>
                    </div>
                    <div class="base__choose-column">
                        <p class="base__choose-subjects">География</p>
                        <ul class="classes">
                            <li class="class">
                                <a href="#" class="class-link">1</a>
                            </li>
                            <li class="class">
                                <a href="#" class="class-link">2</a>
                            </li>
                            <li class="class">
                                <a href="#" class="class-link">3</a>
                            </li>
                            <li class="class">
                                <a href="#" class="class-link">4</a>
                            </li>
                        </ul>
                        <p class="base__choose-subjects">Астрономия</p>
                        <ul class="classes">
                            <li class="class">
                                <a href="#" class="class-link">10</a>
                            </li>
                            <li class="class">
                                <a href="#" class="class-link">11</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="coaches">
        <div class="container">
            <div class="coaches__info">
                <h2 class="coaches__info-title">
                    Мы помогаем интеллектуальному развитию детей
                </h2>
                <p class="coaches__info-text">
                    и реализации их потенциала, сохраяя атмосферу детства
                </p>
                <div class="coaches__list">
                    <div class="coaches__list-item">
                        <img
                            src="images/src/coach.jpg"
                            alt=""
                            class="coaches__list-image"
                        /><a href="" class="coaches__list-link"
                            >Марина Мальцева</a
                        ><span class="coaches__list-desc"
                            >Преподаватель по Биологии</span
                        >
                    </div>
                    <div class="coaches__list-item">
                        <img
                            src="images/src/coach.jpg"
                            alt=""
                            class="coaches__list-image"
                        /><a href="" class="coaches__list-link">Ольга Жукова</a
                        ><span class="coaches__list-desc"
                            >Учитель начальных классов</span
                        >
                    </div>
                    <div class="coaches__list-item">
                        <img
                            src="images/src/coach.jpg"
                            alt=""
                            class="coaches__list-image"
                        /><a href="" class="coaches__list-link"
                            >Валерия Дмитриева</a
                        ><span class="coaches__list-desc"
                            >Учитель начальных классов</span
                        >
                    </div>
                    <div class="coaches__list-item">
                        <img
                            src="images/src/coach.jpg"
                            alt=""
                            class="coaches__list-image"
                        /><a href="" class="coaches__list-link"
                            >Валерия Дмитриева</a
                        ><span class="coaches__list-desc"
                            >Учитель начальных классов</span
                        >
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
